name: Docker

on:
  push:
    branches: [master]

env:
  VERSION: 3.0.0

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [latest, ${{ env.VERSION }}]
        platform: [linux/amd64, linux/arm64, linux/arm/v8]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: jepbura/gaganode:${{ matrix.version }}
          platforms: ${{ matrix.platform }}
          build-args: |
            VERSION=${{ env.VERSION }}
